{% extends 'base.html.twig' %}

{% block body %}
	<div class="row py-5 px-2">
		<div class="col-sm-2">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<div class="card-body">
					<h5 class="card-title">Stations</h5>
					<select class="select-station w-100"></select>
				</div>
			</div>
			<div class='my-legend'>
				<div class='legend-title'>Colors</div>
				<div class='legend-scale'>
					<ul class='legend-labels'>
						<li>
							<span style='background:green;'></span>Available</li>
						<li>
							<span style='background:#007bff;'></span>Booked</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div id='calendar' class="shadow p-3 mb-5 bg-white rounded"></div>
		</div>
		<div class="col-sm-3">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<div class="card-body">
					<h5 class="card-title">Booking details</h5>
					<p class="card-text booking-details"></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
