<nav class="navbar navbar-light bg-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-8">
				<a class="navbar-brand font-weight-bold p-2 bg-title rounded-pill px-4" href="{{ path('dashboard') }}">Equipment Demand Planner V1</a>
			</div>
		</div>
	</div>
</nav>
